<div class="row">
  <div class="todo-content col-sm-5">
    <h1 class="page-title">Todo List</h1>
    <ul class="todo-list">
      <button class="btn btn-warning" (click)="deleteSelectedRows()">Delete selected rows</button>
      <li *ngFor="let todo of todos">
        <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">
          <span class="todo-checkbox">
            <input name="checkbox" type="checkbox" (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(todo) : null" [checked]="selection.isSelected(todo)">
          </span>
          <span>
            <h3 class="todo-title">{{todo.title}}</h3>
            <div class="text-muted todo-timeOfEvent">Time of event: {{todo.timeOfEventDisplay}}</div>
            <p class="todo-description">Description: {{todo.description}}</p>
          </span>
          <span class="todo-actions">
            <a (click)="editTodo(todo)">
              <i class="material-icons edit">edit</i>
            </a>
            <a (click)="deleteTodo(todo.id)">
              <i class="material-icons delete">clear</i>
            </a>
          </span>
        </div>

        <!-- Edit Todo form -->
        <!-- TODO: separate to specific form -->
        <div class="row">
          <div class="todo-edit col-sm-12" *ngIf="editing && editingTodo.id === todo.id">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Type something..." required
              [(ngModel)]="editingTodo.title" maxlength="100" #editTitle="ngModel">
            <div *ngIf="editTitle.errors && editTitle.dirty" class="alert alert-danger">
              <div [hidden]="!editTitle.errors.required">Title is required.</div>
            </div>
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" placeholder="Type something..."
              [(ngModel)]="editingTodo.description" maxlength="1000">
            <label for="description">Time of event</label>
            <input class="form-control" [min]="min" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" name="timeOfEvent"
              placeholder="mm/dd/yyyy HH:MM AM/PM" [(ngModel)]="editingTodo.timeOfEvent" #editTimeOfEvent="ngModel"
              required>
            <owl-date-time #dt2></owl-date-time>
            <div *ngIf="editTimeOfEvent.invalid && editTimeOfEvent.errors && editTimeOfEvent.dirty"
              class="alert alert-danger">
              <div [hidden]="!editTimeOfEvent.errors.owlDateTimeMin">Datetime value must after current datetime</div>
              <div [hidden]="!editTimeOfEvent.errors.owlDateTimeParse">Datetime value must be in "mm/dd/yyy HH:MM"
                format</div>

              <div [hidden]="!editTimeOfEvent.errors.required">Time of event is required</div>
            </div>
            <div class="btn-update">
            <button class="btn btn-primary" [disabled]="editTitle.errors || editTimeOfEvent.errors"
              (click)="updateTodo(editingTodo)">Save</button>
            <button class="btn btn-warning" (click)="clearEditing()">Cancel</button>
          </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="no-todos" *ngIf="todos && todos.length == 0">
      <p>No Todos Found!</p>
    </div>
  </div>

  <!-- Create Todo form -->
  <!-- TODO: separate to specific form -->
  <div class="todo-content col-sm-5">
    <h1 class="page-title">Create New Todo</h1>
    <div class="todo-create">
      <form #todoForm="ngForm" (ngSubmit)="createTodo(todoForm)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" placeholder="Type something..." required name="title"
            [(ngModel)]="newTodo.title" #title="ngModel" maxlength="100">
          <div *ngIf="title.errors && title.dirty" class="alert alert-danger">
            <div [hidden]="!title.errors.required">Title is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control" name="description" placeholder="Type something..."
            [(ngModel)]="newTodo.description" #description="ngModel" maxlength="1000">
        </div>
        <div class="form-group">
          <label for="description">Time of event</label>
          <input class="form-control" [min]="min" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" name="timeOfEvent"
            placeholder="mm/dd/yyyy HH:MM AM/PM" [(ngModel)]="newTodo.timeOfEvent" #timeOfEvent="ngModel" required>
          <owl-date-time #dt1></owl-date-time>
          <div *ngIf="timeOfEvent.invalid && timeOfEvent.errors && timeOfEvent.dirty" class="alert alert-danger">
            <div [hidden]="!timeOfEvent.errors.owlDateTimeMin">Datetime value must after current datetime</div>
            <div [hidden]="!timeOfEvent.errors.owlDateTimeParse">Datetime value must be in "mm/dd/yyy HH:MM" format
            </div>
            <div [hidden]="!timeOfEvent.errors.required">Time of event is required</div>
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="todoForm.pristine || todoForm.invalid" id="submit" name="submit"
          (ngSubmit)="createTodo(todoForm)">Submit</button>
      </form>
    </div>
  </div>
</div>